div{
    border:2px solid black;
    border-radius:15px;

    background-color:lightblue;
    
    text-align: center;
}

div{
    padding:10px;
    margin:10px;

    width: 250px;
}

.text_one{
    font-family: arial;
    color:rgb(0, 0, 0);
}

#Button_Pow{
    background-color: green;
}