div{
    border: 1px solid brown;
    padding: 1rem;
    width: 100vh;
}

.form{
    display:flex;
    flex-wrap: wrap;
    gap:0.5rem;
}

.name{
    flex:1 0 10rem;
}

.email{
    flex:1 0 10rem;
}

.button{
    flex:1 0 5rem;
    background-color: #c0b9a5;
}